<% layout('./layouts/boilerplate')%>
<main>
    <div class = "banner2">
        <h1>Schedule an Event with Us</h1>
    </div>  

    <div class="events">
        <div id="calendarContainer">

        </div>

        <dialog id="popUp" class="dialog">
            <div class="cancel"><button id="cancel"><a href="/cheflavor/events">Cancel</a></button></div>
            <form action="/cheflavor/events" method="POST" class="form">
                <div class="formDiv">
                    <p><input type="text" name="dateSelected" id="dateSelected" class="form-control"></p>
                    <!-- change this h1 to an input and autochange value -->
                    <div>
                        <label for="selectTime" class="form-label required">Please Select a Time</label>
                        <select name="timeSelected" id="timeSelected" class="form-select">
                            <option value="timeTen">10am</option>
                            <option value="timeEleven">11am</option>
                            <option value="timeNoon">12pm</option>
                            <option value="timeOne">1pm</option>
                            <option value="timeTwo">2pm</option>
                            <option value="timeThree">3pm</option>
                            <option value="timeFour">4pm</option>
                            <option value="timeFive">5pm</option>
                            <option value="timeSix">6pm</option>
                            <option value="timeSeven">7pm</option>
                            <option value="timeEight">8pm</option>
                        </select>
                    </div>
                    <div class="contactInfo">
                        <h2>contact info</h2>
                        <div class="eventName input-group has-validation">
                            <div><label for="firstName" class="form-label">First Name</label>
                            <br><input type="text" placeholder="ex. Matt" id="firstName" name="firstName" class="form-control" required></div>
                            <div><label for="lastName" class="form-label">Last Name</label>
                            <br><input type="text" placeholder="ex. Green" id="lastName" name="lastName" class="form-control" required></div>
                        </div>
                        <div class="emailAndPhone">
                            <div><label for="email" class="form-label">Email</label>
                            <input type="text" id="email" placeholder="mattgreen123@gmail.com" name="email" class="form-control" required></div>
                            <br>
                            <div><label for="phoneNumber" class="form-label">Phone Number</label>
                            <input type="tel" id="phoneNumber" placeholder="1234567890" name="phoneNumber" minlength="10" class="form-control" required></div>
                        </div>
                    </div>
                    <menu>
                        <button id="confirmBtn" value="default" type="submit">Confirm</button>
                    </menu>
                </div>
            </form>

        </dialog>

    </div>
    <footer id="footer" class="footer">
    
    </footer>
</main>

<!--scripts-->
<script>
    var eventObj = '<%- JSON.stringify(events) %>'; // test is now a valid js object
    </script>

<script type="module" src="/scripts/cheFlavorCalendar.js"></script>
