<% layout('./layouts/boilerplate')%>
    <main>
        
        <div class = "banner2">
            <h1>Contact Us</h1>
        </div>  
      

        <div class="contactUsPage">
            <div class="feedbackDiv">
                <form action="/cheflavor/contactus" method="POST" class="form">
                    <div class="feedbackName">
                        <div><label for="firstName" class="form-label">First Name</label>
                        <br><input type="text" placeholder="ex. Matt" id="firstName" class="form-control" name="firstName" required></div>
                        <div><label for="lastName" class="form-label">Last Name</label>
                        <br><input type="text" placeholder="ex. Green" id="lastName" class="form-control" name="lastName" required></div>
                    </div>
                    <label for="email" class="form-label">Email</label>
                    <input type="text" id="email" placeholder="mattgreen123@gmail.com" class="form-control" name="email"required>
                    <label for="text" class="customerFeedback form-label">Have some feedback? Fill out our form!</label>
                    <br><input type="text" id="text" placeholder="write your feedback here" class="form-control" name="text" required>
                    <br><button id="confirmBtn" value="default" type="submit" class="btn btn-warning">submit</button>
                </form>
            </div>
            <div class="contactInfo">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.871722030648!2d-117.10029638559233!3d33.478690380765855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80db81e1e5f2b74d%3A0x66a991ef27a14b5d!2s32119%20Temecula%20Pkwy%2C%20Temecula%2C%20CA%2092592!5e0!3m2!1sen!2sus!4v1627506884820!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <p>Phone: +1(951)-972-4935 <br>
                    Email: taste@chef​lavor.com</p>
            </div>
        </div>

        <footer id="footer" class="footer">
        
        </footer>
    </main>
    <script src="/scripts/cheFlavorCalendar.js"></script>