<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHEFLAVOR</title>

    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Fira+Sans&family=Lato&family=Poppins&display=swap" rel="stylesheet">

    <!--style sheet-->
    <link href="/css/chefFlavorHome.css" rel="stylesheet">
    <link href="/css/navigation.css" rel="stylesheet">
</head>
<body>
    <main>
        <header>
            <div id="naviagtion">

            </div>  
        </header>

        <div class="thankYou">
            <h1>Thank you for booking an event with us! <br>
            the Cheflavor event team will contact you shortly.</h1>
            <h2>Here is what to expect:</h2>
            <ul>
                <li>Discuss the menu</li>
                <li>Discuss the price point</li> 
                <li>Getting to know our awesome staff!</li> 
            </ul>
        </div>

        <footer id="footer" class="footer">
        
        </footer>
    </main>
    <script src="/scripts/cheFlavor.js"></script>
    <script src="/scripts/navigation.js"></script>
    <script src="/scripts/footer.js"></script>
</body>
</html>