<% layout('./layouts/boilerplate')%>
    <main>
        <header>
            <div id="naviagtion">

            </div>  
        </header>

        <div class="thankYou">
            <div class="thankYouHeader"><h1>Thank you for booking an event with us!</h1>
                <p>The Cheflavor event team will contact you shortly via cheflavorevents@gmail.com</p></div>
            
            <div class="whatsNext">
                <h3 class="thankYouList">Here is what to expect:</h3>
                <ul>
                    <li>Discuss the menu</li>
                    <li>Discuss the price point</li> 
                    <li>Getting to know our awesome staff!</li> 
                </ul>
            </div>
        </div>

        <footer id="footer" class="footer">
        
        </footer>
    </main>
    <script src="/scripts/cheFlavor.js"></script>
