<% layout('./layouts/boilerplate')%>
<main>
        <div class = banner>
            <img src="/images/bannerlogo11.png" alt="CHEFLAVOR curated provisions" class="bannerLogo">
            
            <div class="buttons">
                <button id="menuButton">menu</button>
                <button id="eventsButton">events</button>
            </div>
        </div>  

        <div class="aboutUs">
            <div><h2>about us</h2></div>
            <div class="rowSection">
                <div class="image">
                    <img src="/images/mattProfile.jpg" alt="owner" class="squareLarge">
                </div>
                <div class="text">
                    <p>Come join us for a delicious meal, cold beer and good times.
                        We celebrate the flavor of food and beverage, it's ingredients and tastes.  
                        A flavor experience for our senses to remember.  
                        Let's look to incorporating flavor enhanced ingredients into our daily cooking and become the chef of your next eating experience.</p>
                </div>
            </div>
        </div>

        <div class="imageCarousel">
            <img src="/images/sandwich2.jpeg" alt="sandwich2" class="square">
            <img src="/images/beer.jpeg" alt="beers" class="square">
            <img src="/images/appetizer.jpeg" alt="appetizer" class="square">
        </div>

        <div class="imageRight">
                <img src="/images/outdoor.jpeg" alt="outdoor of cheflavor">
        </div>

        <footer id="footer" class="footer">
        
        </footer>
</main>
    <script src="/scripts/cheFlavor.js"></script>
    