html{
    --gray: #616161;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    width: 40vw;
    margin: 5em;
    margin-top: 0;
    padding: 3em;
    border: 2px solid var(--gray);
    border-radius: 9%;
    background-color: var(--gray);
    color: white;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome img{
    width: 5em;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.hint{
    margin-top: 3em;
    font-weight: bold;
}