.flexCol{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mainWidth{
    width: 60vw;
    margin: auto;
}