<% layout('./layouts/staffBoilerplate')%>
<main>
    <div class="editMenuContainer">
        <img src="" alt="">
        <button>edit</button>
    </div>

    <div class="addItemContainer">
        <img src="" alt="">
        <button>add</button>
    </div>

    <div class="temporarilyUnavailable">
        <img src="" alt="">
        <button>temporarily unavailable</button>
    </div>
</main>
