<% layout('./layouts/staffBoilerplate')%>
<main>
    <div class="flexRow mainWidth"> 
        <div class="addItemContainer flexCol">
            <img src="../../images/staffportal/addMenuItem.png" alt="add menu item">
            <button>add</button>
        </div>

        <div class="editMenuContainer flexCol">
            <img src="../../images/staffportal/editMenuItem.png" alt="edit menu item">
            <button>edit</button>
        </div>

        <div class="temporarilyUnavailable flexCol">
            <img src="../../images/staffportal/temporarilyUnavailable.png" alt="make menu item temporarily unavailable">
            <button>temporarily unavailable</button>
        </div>

        <div class="deleteMenuContainer flexCol">
            <img src="../../images/staffportal/deleteMenuItem.png" alt="delete menu item">
            <button>delete</button>
        </div>
    </div>
</main>
