<% layout('./layouts/staffBoilerplate')%>
<main>
    <div class="flexRow">
        <div class="eventsCalendar" id="eventsCalendar">
            <iframe src="https://calendar.google.com/calendar/embed?src=c34tcckonj2ot26j5veg4redhg%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="divRight events">
            <h1 class="upcomingEventsh1">Upcoming Events</h1>
            <div class="upcomingEvents" id="upcomingEvents">
            </div>
        </div>
    </div>

    <script>
        var eventsObj = '<%- JSON.stringify(events) %>'; // test is now a valid js object
    </script>
    <script type="module" src="/scripts/events.js"></script>
</main>
