<% layout('./layouts/staffBoilerplate')%>
<main>
    <div class="flexRow">
        <div id="calendarContainer">

        </div>

        <dialog id="popUp" class="dialog">
            <div class="cancel"><button id="cancel">Cancel</button></div>
            <h1 id="dateSelected"></h1>
            <p id="description"></p>
        </dialog>
        
        <div class="divRight events">
            <h1 class="upcomingEventsh1">Upcoming Events</h1>
            <div class="upcomingEvents" id="upcomingEvents">
            </div>
        </div>
    </div>

    <script>
        var eventObj = '<%- JSON.stringify(events) %>'; // test is now a valid js object
    </script>
    <script type="module" src="/scripts/events.js"></script>
    <script type="module" src="/scripts/staffportalCalendar.js"></script>
</main>
