<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Portal</title>
</head>
<body>
    <main>
        <div class="eventsCalendar" id="eventsCalendar">
            
        </div>

        <div class="upcomingEvents" id="upcomingEvents">
            
        </div>
    </main>
</body>
</html>
