<% layout('./layouts/staffBoilerplate')%>
<main>
    <div class="sort">
        <form action="/cheflavor/staffportal/feedback/search" method="post">
            <div class="flexRow ">
                <input type="search" id="mySearch" name="mySearch" class="form-control" required>
                <button type="submit">Search</button>
            </div>
        </form>
    </div>

    <div class="feedback mainFeedbackDiv-feedbackpage" id="feeback">
        
    </div>

    <script>
        var feedbackObj = '<%- JSON.stringify(feedback) %>'; // test is now a valid js object
    </script>
    <script type="module" src="/scripts/feedback.js"></script>
</main>
