<% layout('./layouts/staffBoilerplate')%>
<main>
    <div class="flexRow menuHomeTitle">
        <h1>Welcome!</h1>
    </div>
    <div class="flexRow menuHomeTitle">
        <div id="calendarContainer">

        </div>

        <dialog id="popUp" class="dialog">
            <div class="cancel"><button id="cancel">Cancel</button></div>
            <h1 id="dateSelected"></h1>
            <p id="description"></p>
        </dialog>
        
        <div class="feedback" id="feeback">
            <h1>Recent Feedback</h1>
        
        </div>
    </div>

    <script>
        var feedbackObj = '<%- JSON.stringify(feedback) %>'; // test is now a valid js object
        var eventObj = '<%- JSON.stringify(events) %>';
    </script>
    <script type="module" src="/scripts/feedback.js"></script>
    <script type="module" src="/scripts/staffportalCalendar.js"></script>
</main>