<% layout('./layouts/staffBoilerplate')%>
<main>
    <div class="flexRow mainWidth"> 
        <div class="addItemContainer flexCol">
            <a href="/cheflavor/staffportal/menu/add"><img src="../../images/staffportal/addMenuItem.png" alt="add menu item"></a>
        </div>

        <div class="editMenuContainer flexCol">
            <a href="/cheflavor/staffportal/menu/edit"><img src="../../images/staffportal/editMenuItem.png" alt="edit menu item"></a>
        </div>
    </div>
</main>
