<% layout('./layouts/staffBoilerplate')%>
<main>
    <div class="flexRow menuHomeTitle">
        <h1>Modify the Menu</h1>
    </div>
    <div class="flexRow mainWidth menuHome"> 
        <div class="addItemContainer flexCol menuItemDiv">
            <a href="/cheflavor/staffportal/menu/add"><img src="https://res.cloudinary.com/dr0ofxgkz/image/upload/v1635805811/Cheflavor/staffportal/addMenuItem_maudgd.png" alt="add menu item"></a>
        </div>

        <div class="editMenuContainer flexCol menuItemDiv">
            <a href="/cheflavor/staffportal/menu/edit"><img src="https://res.cloudinary.com/dr0ofxgkz/image/upload/v1635805526/Cheflavor/staffportal/editMenuItem_gwlgdz.png" alt="edit menu item"></a>
        </div>
    </div>
</main>
